<label>Server name</label>
<!--<input type="text" name="txtName" id="txtName" class="form-control"
 (input)="onUpdateServerName($event)" style="color: cyan">--> <!--1 WAY DATA Binding-->

<!--<input type="text" class="form-control"
       [(ngModel)]="userName">
<button class = "btn btn-primary" (click)="userName = ''"
        [disabled]="userName === ''">Reset</button>--> <!--Exercise-->

<input type="text" class="form-control"
       [(ngModel)]="serverName"> <!--2 WAY DATA Binding-->

<button class = "btn btn-primary"
        [disabled]="!allowNewServer"
    (click)="onCreateServer()">Add server</button>

<p *ngIf="serverCreated">Server is created. Server name is {{ serverName }}</p>
<!--<p *ngIf="serverCreated; else noServer">Server is created. Server name is {{ serverName }}</p>
<ng-template #noServer>
  <p>No server was created</p>
</ng-template>--> <!-- Use of ELSE statement in ngIf using "Local Reference i.e #". In other words its like creating a block -->

<!--<p *ngIf="!serverCreated">No server was created</p>-->
<!--<p> {{ serverCreationStatus }} </p>-->
<!--<p [innerText]="allowNewServer"></p>-->
<!--<p [innerText]="serverCreationStatus"></p>-->
<!--<p> {{ serverName }} </p>-->

<app-server></app-server> <!-- Component server is called here -->
